<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统设置 - 后台管理</title>
    <link rel="stylesheet" th:href="@{/admin/css/turquoise-admin.css}">
</head>
<body>
    <div th:replace="admin/turquoise-admin-layout :: header"></div>
    <div class="admin-container">
        <div th:replace="admin/turquoise-admin-layout :: sidebar"></div>
        <div class="admin-content">
            <h1>系统设置</h1>
            <p>功能开发中</p>
        </div>
    </div>
</body>
</html>